.DS_Store
node_modules/
.vscode/.*

# Frontend
/public/assets/
/public/dist/

# Kirby
.dev
kirby
vendor

site/plugins/*
!site/plugins/custom

/public/media/*
!/public/media/index.html

/storage/accounts/*
!/storage/accounts/.gitkeep

/storage/cache/*
!/storage/cache/.gitkeep

/storage/logs/*
!/storage/logs/.gitkeep

/storage/sessions/*
!/storage/sessions/.gitkeep

/site/config/.license
/site/config/vite.config.php